.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
@media (max-width: 680px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
