.container {
    width: 800px;
    margin: 0 auto;
}

.post {
    padding: 40px 0px;
}

.title {
    margin-bottom: 50px;
    font-size: 40px;
}

.image {
    width: inherit;
}

.battonBack {
    color: gray;
    text-decoration: none;
}

.battonBack:hover {
    color: black;
}

.favorite {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.favorite:hover {
    opacity: 0.6;
}

.favoriteActive svg {
    fill: #dc0404;
}