.container {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    margin-bottom: 50px;
    font-size: 40px;
}

.image {
    width: 100%;
}

.buttonBack {
    color: gray;
    text-decoration: none;
}

.buttonBack:hover {
    color: black;
}

.postHead {
    margin: 40px 0;
    padding: 20px;
    background-color: #add8e6a0;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-family: 'Pangolin';
    color: #1976D2;
    font-size: 40px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.headBox {
    color: #1976D2;
    display: flex; 
    justify-content: space-between;
}

.description {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}