.container {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    margin-bottom: 50px;
    font-size: 40px;
}

.image {
    width: 100%;
}

.buttonBack {
    color: gray;
    text-decoration: none;
}

.buttonBack:hover {
    color: black;
}