.userAbout {
    border: 1px solid lightgray;

}

.infoTitle {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 20px;
}

.btn {
    border: none;
    background-color: #fff;
}

