.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    width: 80%;
}

.title {
    text-align: center;
}

.btn {
    width: 60%;
    margin: 0 auto;
}

.errorMessage {
    color: brown;
}