.search__input {
    border-radius: 1.5rem;
    background-color: #ffffff;
    width: 100%;
    min-width: 200px;
    caret-color: #ffe44d;
    font-size: 16px;
    line-height: 20px;
    color: #1a1a1a;
    padding: 14px 20px;
    border: 1px solid transparent;
    outline: none;
}

.search__input:focus {
    background-color: #ffffff;
    border: 1px solid #ffe44d;
}
