.main {
  background: linear-gradient(rgb(173, 216, 230), rgba(255, 255, 255, 0.507)),
    url("./img/bg-image.png") top right no-repeat;
  background-size: contain;
  height: 80vh;
  display: flex;
  align-items: center;
  z-index: 1;
}

.quote {
  width: 50%;
  color: rgb(23, 121, 207);
  position: relative !important;
}

.text {
  font-size: 40px;
  color: #00351c;
  text-align: center;
}

.author {
  color: gray;
}

.button {
  padding: 15px 30px !important;
  border-radius: 40px !important;
  position: absolute !important;
  bottom: -100px;
  left: 20px;
}

.arrowRight {
  width: 15px;
  height: 15px;
  fill: aliceblue;
  margin-left: 5px;
}

@media (max-width: 850px) {
  .quote {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .text {
    font-size: 30px !important;
  }

  .author {
    font-size: 20px !important;
  }

  .button {
    bottom: -125px;
    left: 90px;
  }

  .quote {
    width: 60%;
  }
}


@media (max-width: 450px) {
  .text {
    font-size: 25px !important;
  }

  .author {
    font-size: 15px !important;
  }

  .button {
    bottom: -100px;
    left: 50px;
  }

  .quote {
    width: 70%;
  }
}